<%= form_for [:manage, @asset] do |f| %>
  <div class="form-group">
    <div class="row">
      <div class="col-lg-4">
        <%= f.label :title %>
      </div>
      <div class="col-lg-8">
        <%= f.text_field :title, class: "form-control", :required => true %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4">

    </div>
    <div class="col-lg-8">
      <%= f.submit  class: "btn btn-success" %>
      <%= link_to "Cancel", manage_assets_path, class: "btn btn-default" %>
    </div>
  </div>
<% end %>