<div class="container">
  <table class="table">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">Description</th>
      <th scope="col">Type</th>
      <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
    <% @assets.each do |asset| %>
      <tr>
        <td><%= asset.id %></td>
        <td><%= asset.title %></td>
        <td><%= asset.description %></td>
        <td><%= asset.type %></td>
        <td>
        <%= link_to "View", asset_path(asset), class: "btn btn-default" %>
        <%= link_to "Edit", edit_polymorphic_path([:manage, asset]), class: "btn btn-primary" %>
        <%= link_to "Delete", manage_asset_path(asset), method: :delete, data: {confirm: "Are you sure ?"}, class: "btn btn-danger" %>
      </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>