  <div class="form-group">
    <div class="row">
      <div class="col-lg-4 text-right">
        Title
      </div>
      <div class="col-lg-8">
        <%= @asset.title %>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="row">
      <div class="col-lg-4 text-right">
        Description
      </div>
      <div class="col-lg-8">
        <%= @asset.description %>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="row">
      <div class="col-lg-4 text-right">
        Image
      </div>
      <div class="col-lg-8">
        <% if @asset.image.attached? %> <img src="<%= (url_for(@asset.image)) %>"> <% end %>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="row">
      <div class="col-lg-4 text-right">
        Owner Email
      </div>
      <div class="col-lg-8">
        <%= @asset.owner %>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="row">
      <div class="col-lg-4 text-right">
        Address
      </div>
      <div class="col-lg-8">
        <%= @asset.address %>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="row">
      <div class="col-lg-4 text-right">
        Area in square meter
      </div>
      <div class="col-lg-8">
        <%= @asset.sqmt %>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="row">
      <div class="col-lg-4 text-right">
        Price
      </div>
      <div class="col-lg-8">
        <%= @asset.price %>
      </div>
    </div>
  </div>
  <% if @asset.type == 'House' %>
    <div class="form-group">
      <div class="row">
        <div class="col-lg-4 text-right">
          Rooms
        </div>
        <div class="col-lg-8">
          <%= @asset.rooms %>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="row">
        <div class="col-lg-4 text-right">
         Floors
        </div>
        <div class="col-lg-8">
          <%= @asset.floors %>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="row">
        <div class="col-lg-4 text-right">
          Air Condition
        </div>
        <div class="col-lg-8">
          <%= @asset.air_cond ? "Yes" : 'No' %>
        </div>
      </div>
    </div>
  <% end %>

  <% if @asset.type == 'ComplexBuilding' %>
    <div class="form-group">
      <div class="row">
        <div class="col-lg-4 text-right">
          Units
        </div>
        <div class="col-lg-8">
          <%= @asset.units %>
        </div>
      </div>
    </div>
  <% end %>

  <% if @asset.type == 'CommercialUnit' %>
    <div class="form-group">
      <div class="row">
        <div class="col-lg-4 text-right">
          Shops
        </div>
        <div class="col-lg-8">
          <%= @asset.shops %>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="row">
        <div class="col-lg-4 text-right">
          Parking
        </div>
        <div class="col-lg-8">
          <%= @asset.parking %>
        </div>
      </div>
    </div>
  <% end %>


  <div class="row">
    <div class="col-lg-4">

    </div>
    <div class="col-lg-8">
      <% unless @asset.is_sold %>
        <%= link_to "Buy This", buy_property_path(@asset), class: "btn btn-success", method: :put %>
      <% else %>
        <span class="badge badge-secondary">This Asset is already sold</span>
      <% end %>
    </div>
  </div>